<ion-view view-title="Guibos Pagados" >
    
    <ion-content>
        <div ng-show="!voucherList.length">
            <div class="card" style="text-align: center; margin-top: 0">
                  <div class="item item-text-wrap">
                    <i class="icon-left ion-sad-outline" style="color:#E91E1E; font-size: 2em;"></i>
                    <p style="margin-top: 1em;"> Aún no tienes cuentas archivadas.</p>
                  </div>
            </div>
        </div>
        <ion-list class="list" can-swipe="true" ng-repeat="(sectionTitle, bills) in voucherMap">
            <ion-item class="item item-divider guibo-section">
                {{ sectionTitle }}
            </ion-item>

            <ion-item ng-repeat="bill in bills" class="item item-avatar" ng-click="goToDetail(bill)">
                
                <img src="{{bill.logo}}">
                
                <span class="item-note" ng-class="{ true: 'new-bill'}" >
                    <div>
                        {{bill.expirationDate | date:'dd/MM/yy'}}
                        <i class="ion-android-more-vertical" style="color:#E91E1E; font-size: 2em; position: absolute; top: 15px;margin-left: 15px;"></i>
                    </div>
                </span>
                
                <h2 class="guibo-default-color">{{bill.alias}}</h2>
                <p>{{getExpirationDays(bill.expirationDate)}}</p>

                <ion-option-button class="button-inbox-guibo" ng-show="checkDate(bill.expirationDate)" ng-click="inboxStatus(bill, sectionTitle)">
                    <i class="icon ion-archive"> Casilla </i>
                </ion-option-button>
                <ion-option-button class="button-programmed-guibo" ng-show="checkDate(bill.expirationDate)" ng-click="showRememberOptions(bill, sectionTitle)">
                     <i class="icon ion-android-calendar"> Programar</i>
                </ion-option-button>
                <ion-option-button class="button-expired-guibo" ng-show="!checkDate(bill.expirationDate)" ng-click="expiredStatus(bill, sectionTitle)">
                    <i class="icon ion-archive"> Vencidas </i>
                </ion-option-button>
            </ion-item>
        </ion-list>
        
    </ion-content>
    
    
    
</ion-view>