<ion-view view-title="Cambiar Contraseña">
  
  <ion-content>

    <form name="changePasswordForm" novalidate ng-submit="changePasswordForm.$valid">
        
        <div class="padding">

          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon guibo-icon"></i>
            <input type="password" name="password" placeholder="Actual Contraseña"
            ng-model="user.password" required minlength="8" maxlength="14" contains-number contains-uppercase contains-lowercase contains-specialchar >
          </label>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.password.$error.required" class="item guibo-error">Ingrese una contraseña</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.password.$error.containsNumber && !changePasswordForm.password.$error.required" class="item guibo-error">Debe contener un número</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.password.$error.containsUppercase && !changePasswordForm.password.$error.required && !changePasswordForm.password.$error.containsNumber" class="item guibo-error">Debe contener una letra mayuscula</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.password.$error.containsLowercase && !changePasswordForm.password.$error.required && !changePasswordForm.password.$error.containsNumber && !changePasswordForm.password.$error.containsUppercase" class="item guibo-error">Debe contener una letra minuscula</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.password.$error.containsLowercase && !changePasswordForm.password.$error.required && !changePasswordForm.password.$error.containsNumber && !changePasswordForm.password.$error.containsUppercase" class="item guibo-error">Debe contener una letra minuscula</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.password.$error.containsSpecialchar && !changePasswordForm.password.$error.required && !changePasswordForm.password.$error.containsNumber && !changePasswordForm.password.$error.containsUppercase && !changePasswordForm.password.$error.containsLowercase" class="item guibo-error">Debe contener caracteres especiales</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.password.$error.minlength &&!changePasswordForm.password.$error.containsSpecialchar && !changePasswordForm.password.$error.required && !changePasswordForm.password.$error.containsNumber && !changePasswordForm.password.$error.containsUppercase && !changePasswordForm.password.$error.containsLowercase" class="item guibo-error">Debe contener al menos 8 caracteres</span>

          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon guibo-icon"></i>
            <input type="password" name="newPassword" placeholder="Ingresa tu contraseña"
            ng-model="user.newPassword" required minlength="8" maxlength="14" contains-number contains-uppercase contains-lowercase contains-specialchar compare-to="tmpData.repassword">
          </label>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword.$error.required" class="item guibo-error">Nueva contraseña</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword.$error.containsNumber && !changePasswordForm.newPassword.$error.required" class="item guibo-error">Debe contener un número</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword.$error.containsUppercase && !changePasswordForm.newPassword.$error.required && !changePasswordForm.newPassword.$error.containsNumber" class="item guibo-error">Debe contener una letra mayuscula</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword.$error.containsLowercase && !changePasswordForm.newPassword.$error.required && !changePasswordForm.newPassword.$error.containsNumber && !changePasswordForm.newPassword.$error.containsUppercase" class="item guibo-error">Debe contener una letra minuscula</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword.$error.containsLowercase && !changePasswordForm.newPassword.$error.required && !changePasswordForm.newPassword.$error.containsNumber && !changePasswordForm.newPassword.$error.containsUppercase" class="item guibo-error">Debe contener una letra minuscula</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword.$error.containsSpecialchar && !changePasswordForm.newPassword.$error.required && !changePasswordForm.newPassword.$error.containsNumber && !changePasswordForm.newPassword.$error.containsUppercase && !changePasswordForm.newPassword.$error.containsLowercase" class="item guibo-error">Debe contener caracteres especiales</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword.$error.minlength &&!changePasswordForm.newPassword.$error.containsSpecialchar && !changePasswordForm.newPassword.$error.required && !changePasswordForm.newPassword.$error.containsNumber && !changePasswordForm.newPassword.$error.containsUppercase && !changePasswordForm.newPassword.$error.containsLowercase" class="item guibo-error">Debe contener al menos 8 caracteres</span>

          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon guibo-icon"></i>
            <input type="password" name="repassword" maxlength="14" ng-model="tmpData.repassword" placeholder="Repite la contraseña" required >
          </label>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.repassword.$error.required" class="item guibo-error">Repita la contraseña</span>
          <span ng-show="changePasswordForm.$submitted && changePasswordForm.password.$error.compareTo && !changePasswordForm.repassword.$error.required" class="item guibo-error">Las contraseñas no coinciden</span> 
        </div>
        
        <button class="button button-block button-guibo-login">Cambiar</button>

    </form>      

  </ion-content>

</ion-view>
