<ion-view view-title="Agregar Cuenta">
    
    <ion-content>
         <div class="card">
              <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-checkmark-circled color-ico-view"></i>
                  ¡Vinculación Realizada con éxito!
              </div>
        </div>
        <div>
            <div class="item item-avatar">
                <img src="{{company.logo}}">
                <h2>{{company.name}}</h2>
                <p>{{company.address}}</p>
            </div>
            <br>
            <button class="button button-block button-guibo-login" ng-click="goToInbox()">
                Continuar
            </button>
        </div>        
        
    </ion-content>
    
</ion-view>