<ion-view view-title="Agregar Cuenta">
    
    <ion-content>        

        <div class="padding">
            <div class="item item-icon-left item-text-wrap">
                    <i class="icon ion-qr-scanner color-ico-view"></i>
                      Busca un código parecido a este en tus últimas boletas y luego escanéalo.
            </div>  
        </div>   
        
        <div class="row row-center">
            
            <div class="col col-center">
                <a class="button button-block" ng-click="codeScanner()">
                <div class="card">
                  <div class="item item-text-wrap">
                      <img src="img/qrcode.svg" width="70%">
                  </div>
                  <div class="item item-divider" style="font-size:14px">
                  <i class="icon ion-arrow-up-c"> </i>
                    Presiona Para Escanear
                  </div>
                </div>
                  
                    
                </a>
            </div>
        </div>
        
    </ion-content>
    
</ion-view>
